  <div class = "container-fluid">
    <div class = "row" id="grid">
      <% obj.each do |listing| %>
          <div class = "col-xs-6 col-md-3" id="listing-box">
            <div class = "thumbnail"style="padding:6px">
              <% if listing.users && listing.users.count > 0 %>
                <% if listing.users.count == 1 %>
                  <div class="saves">
                    <div class = "save-count"><%= listing.users.count %> Save</div>
                  </div>
                <% elsif listing.users.count > 1 %>
                  <div class="saves">
                    <div class = "save-count"><%= listing.users.count %> Saves</div>
                  </div>
                <% end %>
              <% end %>
              <%= link_to image_tag(listing.image.url(:medium)), listing %>
              <% if user_signed_in? %>
                <div style="float:right">
                  <% if listing.users.include?(current_user) %>
                    <div class = "save-heart-icon"><%= link_to image_tag('heart-r.png'), remove_listing_path(listing), method: :put %></div>
                  <% else %>
                    <div class = "save-heart-icon"><%= link_to image_tag('heart-b:w.png'), save_listing_path(listing), method: :put %></div>
                  <% end %>
                </div>
              <% elsif !user_signed_in? %>
                <div class = "save-heart-icon" style="float:right; margin-right: 5px"><%= link_to image_tag('heart-b:w.png'), new_user_registration_path %></div>
              <% end %>
                </div>
                  <div class="jumbotron"style="background-color:#fff;border:1px solid #DDDDDD;padding:0px;margin-top:-21px">
                    <div class = "listing_name">
                  <%= truncate(listing.name, length: 100) %>
              </div>
              <div class="seller-listing">
                by<br />
                  <small><%= link_to listing.seller.name,listing.seller if listing.seller%></smaill>
              </div><br>
                  <div class="homepage-listing-engagement">
                    <%= link_to 'Buy It', listing.site, target: '_blank',:onclick => "onClick()", class: "btn-homepage" %>
                    <%= link_to 'Details', listing, class: "btn-homepage" %>
                  </div><br>
            </div>
        </div>
      <% end %>
  </div>
  </div>
   <div class="center" style="text-align:center">
      <%= will_paginate obj, renderer: BootstrapPagination::Rails %>
  </div>
