<div class = "container">
	<h1 style="text-align:center">UPDATE T-SHIRT DETAILS</h1>
		<div class='jumbotron'>
			<%= render 'shared/errors', obj: @listing %>
				<%= form_for @listing do |l| %>
					<div class = "row">
						<div class = "col-md-6 col-xs-12">

						<%= l.label :name, 'Name (Maximum 75 Characters)' %><br />
						<%= l.text_field :name, placeholder: 'Use simple terms...', class: "form-control" %><br />
						
						<%= l.label :category %><br />
  						<%= l.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %><br /><br />

						<%= l.label :subcategory %><br />
						<%= l.collection_select :subcategory_id, Subcategory.order(:name),:id,:name, include_blank: true %><br /><br />

						<%= l.label :tag, 'Keywords (please use a space after each word)' %>
						<%= l.text_field :tag, placeholder: 'game of thrones tyrion drogon.....', class: "form-control" %><br/>
						
						<%= l.label :site, 'Link to tee' %><br />
						<%= l.text_field :site, placeholder: 'where can you buy it....', class: "form-control" %><br />
						
						<%= l.label :description, 'Detailed Description (Maximum 500 characters)' %>
						<%= l.text_area :description, placeholder: 'This will make your tee stand out on search engines. Create a unique and effective description.....', class: "form-control" %><br />

  						<%= l.label :image %>
						<%= l.file_field :image, class: "form-control"%><br />
						
						<%= l.submit 'UPDATE', class: 'btn btn-default btn-lg'  %>
						<%= link_to 'CANCEL', listing_path, class: 'btn btn-default btn-lg' %><br />
						</div>
					</div><br />
		</div>
						
					<% end %>
</div><br />