<div itemscope itemtype="http://schema.org/WebSite">
  <meta itemprop="url" content="http://www.wheresmytee.com/"/>
</div>
<% set_meta_tags title: 'We are a t-shirt search platform based in India',
                 description: 'We are an online curator of graphic t-shirts for men from a multitude of innovative brands in India. Our vast database makes online shopping extremely fast and simple.',
                 keywords: 'T-Shirts, India, Men, Graphic Tees',
                 canonical: "www.wheresmytee.com",
                 next: "http://www.wheresmytee.com/?page=2" %>
<div class="jumbo" style="height: 175px; margin-top: -21px">
     <h1 style="text-align:center; color: #fff; font-family: 'Raleway-Medium', sans-serif">We are a T-Shirt Search platform</h1><br>
        <%= form_tag(listings_path, :method => "get") do %>
          <div class="search-form">
            <%= text_field_tag :search, params[:search], placeholder: "Start searching for a tee or browse our vast selection.......", class: "form-control search-1" %>
            <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search" %>
          </div>
        <% end %>
</div>
<div class = "container-fluid">
  <h2  class="product-list-header">NEW PRODUCTS</h2>
    <div class = "row" id="grid">
      <% @listings.each do |listing| %>
        <div class = "col-xs-6 col-md-3" id="listing-box">
          <div class = "thumbnail"style="padding:6px">
            <% if listing.users && listing.users.count > 0 %>
              <% if listing.users.count == 1 %>
                <div class="saves">
                  <div class = "save-count"><%= listing.users.count %> Save</div>
                </div>
              <% elsif listing.users.count > 1 %>
                <div class="saves">
                  <div class = "save-count"><%= listing.users.count %> Saves</div>
                </div>
              <% end %>
            <% end %>
            <%= link_to image_tag(listing.image.url(:medium)), listing %>
          </div>
          <div class="jumbotron"style="background-color:#fff;border:1px solid #DDDDDD;padding:0px;margin-top:-21px">
            <div class = "listing_name">
              <span itemprop="name">
                <%= truncate(listing.name, length: 100) %>
              </span>
            </div>
            <div class="seller-listing">
              by<br />
              <span itemprop="manufacturer">
                <small>
                  <%= link_to listing.seller.name,listing.seller if listing.seller%>
                </small><br />
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
<div class="center" style="text-align:center">
  <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
</div>
 