<div class = "container">
	<h1 style="text-align:center">Awwwww YEAH!!!!</h1>
		<p style='text-align:center'>Add a new Tee Bro!</p>
			<div class='jumbotron'>
				<%= render 'shared/errors', obj: @listing %>
					<%= form_for @listing do |l| %>
						<div class = "row">
							<div class = "col-md-6 col-xs-12">

								<%= l.label :name, 'Name (Maximum 75 Characters)' %><br />
								<%= l.text_field :name, placeholder: 'Keep it simple...', class: "form-control" %><br />

								<%= l.label :category %><br />
		  						<%= l.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true %><br /><br />

		  						<%= l.label :tag, 'Keywords' %>
								<%= l.text_field :tag, placeholder: 'game of thrones tyrion drogon.....', class: "form-control" %><br/>
						
  							</div>		
  							<div class = "col-md-6 col-xs-12">

								<%= l.label :site, 'Link to tee' %><br />
								<%= l.text_field :site, placeholder: 'where can you buy it....', class: "form-control" %><br />
								
								<%= l.label :description, 'Description' %>
								<%= l.text_area :description, placeholder: 'Keep it simple.....', class: "form-control" %><br />

								<%= l.label :image %>
								<%= l.file_field :image, class: "form-control"%><br />
								
								<%= l.submit 'CREATE', class: 'btn btn-default btn-lg'  %>
									<% if user_signed_in? %>
										<%= link_to 'CANCEL', user_path(current_user), class: 'btn btn-default btn-lg' %><br />
									<% elsif seller_signed_in? %>
										<%= link_to 'CANCEL', seller_path(current_seller), class: 'btn btn-default btn-lg' %><br />
									<% end %>
							</div>
						</div><br />
					<% end %>
			</div>
</div><br />