<html>
<head>
	<script>
		function onClick() {
  				fbq('track');
							}
	</script>
	<% content_for :head do %>
  		<meta property="og:image" content= "<%= @listing.image.url(:medium) %>" />
		<meta property="og:description" content= "We are a T-Shirt search engine" />
  		<meta property="og:title" content= "<%= @listing.name %>" />
  		<meta name="twitter:card" content= "summary" />
	<% end %>
</head>
<body>
<div class="jumbo" style="height: 200px; margin-top: -21px">
	<h1 style="text-align:center; color: #fff; font-family: 'Lato-Medium', sans-serif">We are a T-Shirt search platform</h1><br>
      <div class="main-navigation">
        <%= link_to 'Collections', categories_path, class: "btn-landing" %>
        <%= link_to 'Brands', sellers_path, class: "btn-landing" %>
      </div>
</div><br>
<div itemscope itemtype="http://schema.org/Product">
	<div class = "container">
		<div class = "jumbotron"style="background-color:#fff;border-radius:5px;border:3px solid #000">
			<%= link_to 'Back', categories_path, class: "btn btn-default" %><br /><br />	
			<div class = "row">
				<div class = "col-md-6">
					<%= image_tag @listing.image.url(:medium), :data => { zoom_image: @listing.image.url(:large) }, :class => "zoom" %> <br /><br /><br />
					<div class ="row">
						<div class = "col-md-12 col-xs-12">
							<div id="gallery">
								<%= link_to image_tag(@listing.image.url(:thumb)), '#', data: { image: @listing.image.url(:medium), zoom_image: @listing.image.url(:large) }, :class => 'zoom2' %>
							</div>
						</div>
					</div>		
				</div>		
					<div class = "col-md-6">
						<div class = "listing_set_1">
							<div class="title">
									Name: <br/>
							</div>
							<div class="fill">
								<span itemprop="name">
									<%= @listing.name %>
								</span>		
							</div>
							<div class="by"style="font-weight:bold">by</div>
						</div>
						<div class="seller-name-on-product">
							<span itemprop="manufacturer"><%= link_to @listing.seller.name, @listing.seller if @listing.seller%></span>
						</div>
						<div class="know-more"><%= link_to '(Know more about this brand)', @listing.seller %></div><br>
							<div class="social-share">
								<%= social_share_button_tag(@listing.name, :image => @listing.image.url(:medium), 'data-twitter-title' => "#wheresmytee #{@listing.name} ", 'data-facebook-title' => "Get your #{@listing.name} tee from Where's My Tee?", 'data-pinterest-title' => "Get your #{@listing.name} tee from Where's My Tee?") %>
							</div>
							<% if @listing.description? %>
								<h4 style="font-family: 'Lato-Medium', sans-serif; font-size: 20px; font-weight: bold">Description:</h4>
							<% end %>
							<div class="des" style="font-family:'Lato-Light', sans-serif'"> 
								<%= @listing.description %><br><br>
							</div>
							<div class="save-buy" style="display:flex">
								<% if user_signed_in? %>
									<% if @listing.users.include?(current_user) %>
										<div class="save-remove"><%= link_to 'Unsave', remove_listing_path(@listing), method: :put %></div>
									<% else %>
										<div class="save-remove"><%= link_to 'Save', save_listing_path(@listing), method: :put %></div>
									<% end %><br /><br />
								<% elsif current_seller == @listing.seller %>
									<div class="edit-delete" style="float:right; margin-top: -45px"><%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-success" %>
										<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing"},class: "btn btn-success" %> 
									</div>
								<% elsif !seller_signed_in? && !user_signed_in? %>
									<div class="save-remove"><%= link_to 'Save', new_user_registration_path %></div>
								<% end %><br><br>
										<%= link_to 'More Info', "#{@listing.site}", :target => "_blank", 
													:onclick => "onClick()",
													class: 'btn-buy-it-now' %>
							</div><br> 

					  </div>	
			</div>
		</div>
	</div>
    <div>
    	<h4 class="seperator">similar products</h4>
    </div>
      		
<div class = "container-fluid">
	<div class = "row" id="grid">
		<% Listing.all.where(:category => @listing.category).each do |listing| %>
			<div class = "col-xs-6 col-md-3" id="listing-box">
		    	<div class = "thumbnail"style="padding:6px">
		    		<% if listing.users && listing.users.count > 0 %>
              			<% if listing.users.count == 1 %>
                			<div class="saves">
                  				<div class = "save-count"><%= listing.users.count %> Save</div>
                			</div>
              			<% elsif listing.users.count > 1 %>
                			<div class="saves">
                  				<div class = "save-count"><%= listing.users.count %> Saves</div>
                			</div>
              			<% end %>
            		<% end %>
             		<%= link_to image_tag(listing.image.url(:medium)), listing %>
             	</div>
             	<div class="jumbotron"style="background-color:#fff;border:1px solid #DDDDDD;padding:0px;margin-top:-21px">
             		<div class = "listing_name">
			   			<%= truncate(listing.name, length: 100) %>
			 		</div>
			 		<div class="seller-listing">
			 					by<br />
			 			<small><%= link_to listing.seller.name,listing.seller if listing.seller %></smaill>
			 		</div><br>
			 		<div class="homepage-listing-engagement">
                		<%= link_to 'Buy It', listing.site, target: '_blank',:onclick => "onClick()", class: "btn-homepage" %>
                		<%= link_to 'Details', listing, class: "btn-homepage" %>
              		</div><br>
			 	</div>
			 </div>
		<% end %>
</div>
</div>
</body>
</html>
		

		