<html>
<head>
	<script>
		function onClick() {
  				fbq('track');
							}
	</script>
</head>
<div itemscope itemtype="http://schema.org/Product">
	<div class = "container">
		<div class = "jumbotron"style="background-color:#fff;border-radius:5px;border:3px solid #000">
			<%= link_to 'Back', listings_path, class: "btn btn-default" %><br /><br />
			<% if user_signed_in? %>
				<% if @listing.users.include?(current_user) %>
					<div class="save-remove"><%= link_to 'Unsave this Tee', remove_listing_path(@listing), method: :put %></div>
				<% else %>
					<div class="save-remove"><%= link_to 'Save this Tee', save_listing_path(@listing), method: :put %></div>	
				<% end %><br /><br />
							<% elsif current_seller == @listing.seller %>
										<div class="edit-delete" style="float:right; margin-top: -45px"><%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-success" %>
										<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing"},class: "btn btn-success" %> 
									</div>
			<% elsif !seller_signed_in? && !user_signed_in? %>
				<div class="save-remove"><%= link_to 'Save this Tee', new_user_registration_path %></div>
			<% end %>	
			<div class = "row">
				<div class = "col-md-6">
					<%= image_tag @listing.image.url(:medium), :data => { zoom_image: @listing.image.url(:large) }, :class => "zoom" %> <br /><br /><br />
					<div class ="row">
						<div class = "col-md-12 col-xs-12">
							<div id="gallery">
								<%= link_to image_tag(@listing.image.url(:thumb)), '#', data: { image: @listing.image.url(:medium), zoom_image: @listing.image.url(:large) }, :class => 'zoom2' %>
							</div>
						</div>
					</div>		
				</div>		
					<div class = "col-md-6">
						<div class = "listing_set_1">
							<div class="title">
									Product Name: <br/>
							</div>
							<div class="fill">
								<span itemprop="name">
									<%= @listing.name %>
								</span>		
							</div>
							<div class="by"style="font-weight:bold">by</div>
						</div>
						<div class="seller-name-on-product">
							<span itemprop="manufacturer"><%= link_to @listing.seller.name, @listing.seller if @listing.seller%></span>
						</div>
						<div class="know-more"><%= link_to '(Know more about this brand)', @listing.seller %></div>
						<% if @listing.description? %>
							<h4 style="font-family: 'Slot-Regular', sans-serif; font-size: 30px; font-weight: bold">Description:</h4>
						<% end %>
							<div class="des" style="font-family:'Lato-Medium', sans-serif'"> 
								<%= @listing.description %><br><br><br>
								<%= link_to 'Buy it Now', "#{@listing.site}", :target => "_blank", 
													:onclick => "onClick()",
													class: 'btn-buy-it-now' %>
							</div><br > 
					  </div>	
			</div>
		</div>
	</div>
          		<div>
          			<h4 class="seperator">similar products</h4>
          		</div>
      		
<div class = "container-fluid">
	<div class = "row" id="grid">
		<% Listing.all.where(:tag => @listing.tag).each do |listing| %>
			<div class = "col-xs-6 col-md-3" id="listing-box">
		    	<div class = "thumbnail"style="padding:6px">
             		<%= link_to image_tag(listing.image.url(:medium)), listing %>
             	</div>
             	<div class="jumbotron"style="background-color:#fff;border:1px solid #DDDDDD;padding:0px;margin-top:-21px">
             		<div class = "listing_name">
			   			<%= truncate(listing.name, length: 100) %>
			 		</div>
			 		<div class="seller-listing">
			 					by<br />
			 			<small><%= link_to listing.seller.name,listing.seller if listing.seller %></smaill>
			 		</div>
			 	</div>
		<% end %>
</div>
</html>
		

		