<nav class="navbar navbar-default">
    <h1 style="text-align:center">ADMIN PANEL</h1>
  </nav>
<div class="container-fluid">
  <div class="jumbotron" style="background-color:#fff; border: 1px solid #000">
  
    <h2>Meta tags</h2>
      <h3 style="text-align:center">COLLECTIONS</h3>
        <table class="table table-striped table-bordered">
          <tr>
            <th class="center">Name</th>
            <th class="center">Meta Title</th>
            <th class="center">Meta Description</th>
            <th class="center">Meta Keywords</th>
            <th class="center">Admin Action</th>
          </tr>
        <thead>
        
        </thead>
          <tbody>
            <% Category.all.each do |c| %>
              <tr>
                <td><%= c.name %></td>
                <td><%= c.title %></td>
                <td><%= c.description %></td>
                <td><%= c.keywords %></td>
                <td>
                  <%= link_to "Update",edit_category_path(c) %>
                  <%= link_to "Delete",c, method: :delete, data: {confirm: "Are you sure?"} %>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <br>

<h3 style="text-align:center">TEES</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Name / Meta-Title</th>
    <th class="center">Category</th>
    <th class="center">Meta Description</th>
    <th class="center">Meta Keywords</th>
    <th class="center">Admin Action</th>
  </tr>
  <thead>
  </thead>

  <tbody>
    <% Listing.all.each do |l| %>
      <tr>
        <td><%= l.id %></td>
        <td><%= l.name %></td>
        <td><%= l.category.name %></td>
        <td><%= l.description %></td>
        <td><%= l.tag %></td>
        <td>
          <%= link_to "Update",edit_listing_path(l) %>
          <%= link_to "Delete",l, method: :delete, data: {confirm: "Are you sure?"} %>
       </td>
     </tr>
    <% end %>
  </tbody>
</table>
<br>
    <h3 style="text-align:center">Current Sellers</h3>
        <table class="table table-striped table-bordered">
          <tr>
            <th class="center">Name / Meta Title</th>
            <th class="center">Meta Description</th>
            <th class="center">Meta Keywords</th>
          </tr>
        <thead>
        
        </thead>
          <tbody>
            <% Seller.all.each do |s| %>
              <tr>
                <td><%= s.name %></td>
                <td><%= s.description %></td>
                <td><%= s.keywords %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <br>




