<% noindex %>
<% if resource == @user %>
	<div class="container-welcome-text">
  		<h2 class="welcome-text-user">You're Back!</h1>
  		<h4 class="sign-up-subheader">Awesome to have you back</h4>
	</div>
<% elsif resource == @seller %>
	<div class="container-welcome-text">
  		<h2 class="welcome-text-user">You're Back</h1>
  		<h4 class="sign-up-subheader">Awesome to have you back</h4>
  </div>
<% end %>
<body class="signup-bg">
  <div class="container-signup">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-xs-12 col-sm-12">
    	<div class="form-group">
        	<%= f.email_field :email, placeholder: 'Email...', class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
		  <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password...', class: 'form-control' %>
        	<% if @validatable %>
          		<span class="help-block"><%= @minimum_password_length %> characters minimum</span>
        	<% end %>
      </div>
    </div>
		<%= f.submit "I'm baaaack!", class: 'btn-signup btn-signup-primary' %>
  <% end %><br />
  </div>
</div>
<div style="text-align:center">
	<%= render "devise/shared/links" %>
</div>
</body>
