<nav class="navbar navbar-default" style="background-color:#000000; width: 100.5%; margin-left: -1px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class ="navbar-logo">
          <%= link_to image_tag('Logo-3.png'),listings_path %>
        </div>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-xs-8 col-md-8" style="margin-left: 10px">
            <%= form_tag(listings_path, :method => "get") do %>
              <div class="search-form">
                <%= text_field_tag :search, params[:search], placeholder: "Start your search.......", class: "form-control search-1" %>
                <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-search" %>
              </div>
            <% end %>
        </ul>
        <% if seller_signed_in? %>
          <div class="dropdown"style="margin-top:8px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top: 5px">Account
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'My Store',seller_path(current_seller), class: "seller-header"%></li>
                <li><%= link_to 'Account Settings', edit_seller_registration_path, class: "seller-header" %></li>
                <li><%= link_to 'Log Out', destroy_seller_session_path, method: :delete, class: "seller-header" %></li>
              </ul>
          </div>
        <% elsif user_signed_in? %>
            <div class="dropdown"style="margin-top:8px">
              <button class="btn account-btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  style="margin-top: 5px">Account
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'My Profile',user_path(current_user), class: "seller-header"%></li>
                <li><%= link_to 'Account Settings', edit_user_registration_path, class: "seller-header" %></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "seller-header" %></li>
              </ul>
            </div>
        <% else %>

                <div class="login"><%= link_to 'Login', new_user_session_path %></div>
                <div class="login"><%= link_to 'Sign Up', new_user_registration_path %></div>
      <% end %>
      </div>
  </div>
</nav>
  